<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Lai</title>

    <link rel="stylesheet" href="../../assets/css/common.min.css" />
    <link rel="stylesheet" href="../../assets/css/pages.min.css" />

    <script src="../../assets/lib/jquery/jquery-2.2.3.min.js"></script>
    <script src="../../assets/lib/gsap/TweenMax.min.js"></script>
    <script src="../../assets/lib/gsap/easing/EasePack.min.js"></script>
    <script src="../../assets/lib/scrollmagic/ScrollMagic.min.js"></script>
    <script src="../../assets/lib/scrollmagic/plugins/animation.gsap.min.js"></script>
    <script src="../../assets/lib/scrollmagic/plugins/jquery.ScrollMagic.min.js"></script>
    <script src="../../assets/lib/scrollmagic/plugins/debug.addIndicators.min.js"></script>
    <script src="../../assets/lib/snap/snap.svg-min.js"></script>
    <script src="../../assets/lib/vivus/vivus.min.js"></script>
</head>
<body>
    <div id="contents" class="contents">
       <h2 class="page-heading">
           <img src="../../assets/images/common/customerService-title.png" alt="Customer Service" />
       </h2>

       <nav class="lnb">
           <ul>
               <li><a href="#">공지사항</a></li>
               <li><a href="#">FAQ</a></li>
               <li class="active"><a href="#">Q&amp;A</a></li>
           </ul>
       </nav>

        <main class="qna-detail">
            <h3>Q&amp;A</h3>
            <div class="srch">
                <div class="inner">
                    <div class="option-area">
                        <label for="select-srch" class="hidden">검색조건</label>
                        <select id="select-srch">
                            <option value="">제목 + 본문</option>
                        </select>
                    </div>
                    <div class="input-area">
                        <div class="form">
                            <label for="txt-srch" class="hidden">검색어</label>
                            <input type="text" id="txt-srch" class="expanded" placeholder="검색어를 입력하세요" />
                            <div class="srch-btn">
                                <a href="#" class="btn">검색</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="board-detail">
                <ul>
                    <li>
                        <div class="num">24</div>
                        <div class="status"><em class="point">답변완료</em></div>
                        <div class="subject">
                            [구매] 상품을 반품했는데, 언제 환불되나요?
                        </div>
                        <div class="author">test1004</div>
                        <div class="date">2016-04-07</div>
                    </li>
                </ul>

                <div class="question">
                    <div class="icon"></div>
                    <div class="substance">
                        안녕하세요.<br />
                        상품을 반품했는데, 언제 환불되나여??<br />
                        빠른 환불 부탁드립니다.<br />
                        수고하세요.
                    </div>
                </div>

                <div class="attach">
                    <div class="attachment">첨부파일</div>
                    <div class="file">
                         <span>file.png<a href="#"><img src="../../assets/images/cs/btn-close.png" alt="" /></a></span>
                         <span>file2.png<a href="#"><img src="../../assets/images/cs/btn-close.png" alt="" /></a></span>
                    </div>
                </div>

                <div class="answer">
                    <div class="icon"></div>
                    <div class="substance">
                        판매자가 반품된 상품을 받고 아무런 이상이 없다 확인한 후<br />
                        반품완료로 처리한 후부터 환불이 진행됩니다.<br />
                        <br />
                        단, 구매자의 사유로 반품 시 판매자에게 반품배송비가 필요합니다.<br />
                        <br />
                        이때 반품 배송료를 지불하지 않았다면<br />
                        반품이 보류되어 반품 승인이 지연될 수 있습니다.
                    </div>
                </div>
            </div>

            <div class="aligner" data-top="sm">
                <div class="right">
                    <a href="#" class="btn blue">수정</a>
                    <a href="#" class="btn">삭제</a>
                    <a href="#" class="btn blue-line">목록</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
