<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Lai</title>

    <link rel="stylesheet" href="../../assets/css/common.min.css" />
    <link rel="stylesheet" href="../../assets/css/pages.min.css" />

    <script src="../../assets/lib/jquery/jquery-2.2.3.min.js"></script>
    <script src="../../assets/scripts/scripts.min.js"></script>
    <script src="../../assets/lib/gsap/TweenMax.min.js"></script>
    <script src="../../assets/lib/gsap/easing/EasePack.min.js"></script>
    <script src="../../assets/lib/scrollmagic/ScrollMagic.min.js"></script>
    <script src="../../assets/lib/scrollmagic/plugins/animation.gsap.min.js"></script>
    <script src="../../assets/lib/scrollmagic/plugins/jquery.ScrollMagic.min.js"></script>
    <script src="../../assets/lib/scrollmagic/plugins/debug.addIndicators.min.js"></script>
    <script src="../../assets/lib/snap/snap.svg-min.js"></script>
    <script src="../../assets/lib/vivus/vivus.min.js"></script>
</head>
<body>
    <div id="contents" class="contents">
       <h2 class="page-heading">
           <img src="../../assets/images/common/customerService-title.png" alt="Customer Service" />
       </h2>

       <nav class="lnb">
           <ul>
               <li><a href="#">공지사항</a></li>
               <li><a href="#">FAQ</a></li>
               <li class="active"><a href="#">Q&amp;A</a></li>
           </ul>
       </nav>

        <main class="qna-list">
            <h3>Q&amp;A</h3>
            <div class="srch">
                <div class="inner">
                    <div class="option-area">
                        <label for="select-srch" class="hidden">검색조건</label>
                        <select id="select-srch">
                            <option value="">제목 + 본문</option>
                        </select>
                    </div>
                    <div class="input-area">
                        <div class="form">
                            <label for="txt-srch" class="hidden">검색어</label>
                            <input type="text" id="txt-srch" class="expanded" placeholder="검색어를 입력하세요" />
                            <div class="srch-btn">
                                <a href="#" class="btn">검색</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="board-list">
                <ul>
                    <li>
                        <a href="#" data-popup="qna-list-password">
                            <div class="num">24</div>
                            <div class="status">미답변</div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-popup="qna-list-password">
                            <div class="num">23</div>
                            <div class="status">미답변</div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-popup="qna-list-password">
                            <div class="num">22</div>
                            <div class="status"><em class="point">답변완료</em></div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="num">21</div>
                            <div class="status"><em class="point">답변완료</em></div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-popup="qna-list-password">
                            <div class="num">20</div>
                            <div class="status"><em class="point">답변완료</em></div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="num">19</div>
                            <div class="status"><em class="point">답변완료</em></div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="num">18</div>
                            <div class="status"><em class="point">답변완료</em></div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="num">17</div>
                            <div class="status"><em class="point">답변완료</em></div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="num">16</div>
                            <div class="status"><em class="point">답변완료</em></div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="num">15</div>
                            <div class="status"><em class="point">답변완료</em></div>
                            <div class="subject">Q&amp;A 제목입니다.Q&amp;A 제목입니다.Q&amp;A 제목입니다.</div>
                            <div class="author">test1004</div>
                            <div class="date">2016-04-07</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="aligner" data-top="md">
                <div class="right">
                    <a href="#" class="btn">문의하기</a>
                </div>
            </div>
            <div class="pagination">
                <a href="#" class="btn-prev">이전페이지</a>
                <span class="num">
                    <a href="#" class="active" title="현재페이지">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                </span>
                <a href="#" class="btn-next">다음페이지</a>
            </div>
        </main>
    </div>

    <div class="popup-center">
        <div class="mask qna-list-password">
            <div class="popup">
                <h2 class="popup-head">비밀번호 확인</h2>
                <hr>
                <div class="popup-body">
                    <div class="password-wrap">
                        <label for="input-password1" class="hidden">비밀번호 확인</label>
                        <input type="password" id="input-password1">
                        <a href="#" class="btn blue">확인</a>
                    </div>

                    <a href="#" class="btn-close"><img src="../../assets/images/common/btn-cancel.png" alt="팝업닫기" /></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
